<!doctype html>
 <html>
 <head>
 <title>Background Page</title>
    <script src="../javascript/util.js"></script>
    <script src="../javascript/PopupSettings.js"></script>
    <script src="../javascript/Task.js"></script>
    <script src="../javascript/Event.js"></script>
    <script src="../javascript/Consts.js"></script>
    <script src="../javascript/Window.js"></script>
    <script src="../javascript/Reminders.js"></script>
    <script src="../javascript/MarkCounterBool.js"></script>
    <script src="../javascript/authorization.js"></script>
    <script src="../javascript/backgroundNew.js"></script>
 </head>
 <body>
    <img id="logged_in" src="../images/daybyday16.png">
    <canvas id="canvas" width="19" height="19"></canvas>
 </body>
 </html>
   


